{% extends "base.html" %}

<title>{% block title %}Filter By Country{% endblock %}</title>
{% block body %}

<div class="container">

    <form action="/filter/" method="POST">
        <div class="form-group">
            <label>Country:</label>
            <input class="form-group" type="search" name="country" placeholder="Search for country..">
            <label>Title:</label>
            <input class="form-group" type="search" name="title" placeholder="Search for movie title..">
            <label>Cast:</label>
            <input class="form-group" type="search" name="cast" placeholder="Search an actor/actress..">
            <label>Genre:</label>
            <input class="form-group" type="search" name="genre" placeholder="Search using movie genre..">
        </div>
        <label>Initial date</label>
        <input class="form-group" type="date" name="date_min">
        <label>Final date</label>
        <input class="form-group" type="date" name="date_max">
        <button class="btn btn-primary mb-2" type="submit">Search</button>
    </form>

    {% if num_results==0 %}
    <div class="alert alert-warning" role="alert">
        Não foram encontrados resultados para esta pesquisa!<br>
        Por favor tente novamente
    </div>
    {% else %}

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Movie Title</th>
            <th scope="col">Published Date</th>
            <th scope="col">Country</th>
            <th scope="col">Cast</th>
            <th scope="col">Genre</th>
            <th scope="col">Description</th>
            <th scope="col">Rating</th>
        </tr>
        </thead>
        <tbody>
        {% for key in result%}
        <tr>
            <td>{{result[key].Título}}</td>
            <td>{{result[key]["Data de Publicação"]}}</td>
            <td>{{result[key]["País"]}}</td>
            <td>{{result[key]["Atores"]}}</td>
            <td>{{result[key]["Gênero"]}}</td>
            <td>{{result[key]["Descrição"]}}</td>
            <td>{{result[key]["Média de Nota"]}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endif %}
</div>
{% endblock %}