{% extends "base.html" %}
<title>{% block title %}Filter Options{% endblock %}</title>
{% block style %}
.linkbutton{
margin: 5px;
text-align: center;
overflow-wrap: break-word;
}
{% endblock %}
{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Esta é a página de Ranking de {{criteria}}!</h1>
    <hr class="my-4">
    <p>Quais parâmetros você deseja verificar?</p>
    <div class="container">
        <div class="row">
            <a class="btn btn-success linkbutton" href="/rank/{{criteria}}/Atores">{{criteria}} por Atores</a>
            <a class="btn btn-success linkbutton" href="/rank/{{criteria}}/Ano">{{criteria}} por Ano</a>
            <a class="btn btn-success linkbutton" href="/rank/{{criteria}}/Gênero">{{criteria}} por Gênero</a>
            <a class="btn btn-success linkbutton" href="/rank/{{criteria}}/País">{{criteria}} por País</a>
            <a class="btn btn-success linkbutton" href="/rank/{{criteria}}/Idioma%20Original">{{criteria}} por Idioma Original</a>
            <a class="btn btn-success linkbutton" href="/rank/{{criteria}}/Diretor">{{criteria}} por Diretor</a>
            <a class="btn btn-success linkbutton" href="/rank/{{criteria}}/Escritor">{{criteria}} por Escritor</a>
            <a class="btn btn-success linkbutton" href="/rank/{{criteria}}/Produtora">{{criteria}} por Produtora</a>
        </div>

    </div>

</div>

{% endblock %}