{% extends "base.html" %}
<title>{% block title %}Filter Options{% endblock %}</title>
{% block style %}
.linkbutton{
margin: 5px;
text-align: center;
overflow-wrap: break-word;
}
{% endblock %}
{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Bem-vindo ao APIFLIX!</h1>
    <p class="lead">Aqui você consegue informações sobre filmes através de filtros e também ranqueamento</p>
    <hr class="my-4">
    <p>O que você está buscando hoje?</p>
    <div class="container">
        <h5> Pesquisa</h5>
        <div class="row">
            <a class="btn btn-primary btn-lg linkbutton" href="/filter/">Pesquisa de filmes</a>
        </div>
        <hr>
        <h5> Ranking por critérios</h5>
        <div class="row">
            <a class="btn btn-primary btn-lg linkbutton" href="/rank/Média%20de%20Nota">Ranking: Média de avaliações</a>
            <a class="btn btn-primary btn-lg linkbutton" href="/rank/Quantidade%20de%20Votos%20por%20Usuário">Ranking: Qtd de reviews de usuários</a>
            <a class="btn btn-primary btn-lg linkbutton" href="/rank/Quantidade%20de%20Votos%20por%20Críticos">Ranking: Qtd de reviews de especialistas</a>
            <a class="btn btn-primary btn-lg linkbutton" href="/rank/Quantidade%20de%20Votos%20por%20Usuário">Ranking: Qtd de votos</a>
            <a class="btn btn-primary btn-lg linkbutton" href="/rank/Orçamento%20em%20Dólares%20Americanos">Ranking: Orçamento em dólares</a>
            <a class="btn btn-primary btn-lg linkbutton" href="/rank/Faturamento%20Bruto%20Mundial">Ranking: Faturamento Mundial</a>
            <a class="btn btn-primary btn-lg linkbutton" href="/rank/percentual%20de%20lucro">Ranking: Percentual de Lucro</a>
            <a class="btn btn-primary btn-lg linkbutton" href="/rank/percentual%20nota%2010">Ranking: Percentual de Nota 10</a>
            <a class="btn btn-primary btn-lg linkbutton" href="/rank/percentual%20nota%201">Ranking: Percentual de Nota 1</a>
        </div>
        <hr>
        <h5>Quantidade de filmes por critérios</h5>
        <div class="row">
            <a class="btn btn-primary btn-lg linkbutton" href="rank/qtd/Ano">Qtd de Filmes por Ano</a>
            <a class="btn btn-primary btn-lg linkbutton" href="rank/qtd/Produtora">Qtd de Filmes por Produtora</a>
            <a class="btn btn-primary btn-lg linkbutton" href="rank/qtd/Gênero">Qtd de Filmes por Gênero</a>
            <a class="btn btn-primary btn-lg linkbutton" href="rank/qtd/País">Qtd de Filmes por País</a>
            <a class="btn btn-primary btn-lg linkbutton" href="rank/qtd/Idioma%20Original">Qtd de Filmes por Idioma Original</a>
            <a class="btn btn-primary btn-lg linkbutton" href="rank/qtd/Diretor">Qtd de Filmes por Diretor</a>
            <a class="btn btn-primary btn-lg linkbutton" href="rank/qtd/Escritor">Qtd de Filmes por Escritor</a>
            <a class="btn btn-primary btn-lg linkbutton" href="rank/qtd/Atores">Qtd de Filmes por Atores</a>
        </div>

    </div>

</div>

{% endblock %}