{% extends "base.html" %}
<title>{% block title %}Filter Options{% endblock %}</title>
{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Bem-vindo ao APIFLIX!</h1>
    <p class="lead">Aqui você consegue informações sobre filmes através de filtros e também ranqueamento</p>
    <hr class="my-4">
    <p>O que você está buscando hoje?</p>
    <div class="container">
        <div class="row">
            <a class="btn btn-primary btn-lg" href="/filter/country/">Filters</a>
            <a class="btn btn-primary btn-lg" href="/filter/country/">General rank</a>

        </div>

    </div>
</div>

{% endblock %}