{% extends "base.html" %}

<title>{% block title %}Rank{% endblock %}</title>
{% block body %}

<div class="container">

        <table class="table">
        <thead class="thead-dark">

        <tr>
            <th scope="col">Rank</th>

            <th scope="col">{{criteria}}</th>
            <th scope="col">Qtd</th>

        </tr>
        </thead>
        <tbody>
        {% for key in result%}
        <tr>
            <td>{{ loop.index + initial }}</td>
            <td>{{key}}</td>
            <td>{{result[key]}}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
